.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 15px;
  .data {
    display: flex;
    align-items: center;
    .circle-background {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      img {
        height: 25px;
        border-radius: 100%;
      }
    }
    ul {
      padding-left: 16px;
      li {
        list-style-type: none;
      }
    }
  }
}

.static-card {
  background-color: #eceff1;
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    &:hover {
      background-color: #e3e6e8;
      border-radius: 100%;
    }
  }
}

.meeting-card {
  .data {
    .circle-background {
      img {
        height: 40px;
      }
    }
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    &:hover {
      background-color: #eceff1;
      border-radius: 100%;
    }
  }
}

.metric-card {
}
