<div class="login-box">
  <img src="assets/svg/logo.svg" height="40px" />
  <p style="font-weight: 800; font-size: 18px; margin-bottom: 28px">Sign in</p>

  <form
    [formGroup]="authForm"
    (ngSubmit)="signIn()"
    id="login-form"
    class="login-form"
  >
    <div class="input-container">
      <div class="input-field">
        <label for="'email" [ngStyle]="{ color: emailFocus ? 'blue' : '' }"
          >E-mail Address*</label
        >
        <input
          id="email"
          type="email"
          class="input-field"
          formControlName="email"
          placeholder="Email"
          email="true"
          (focus)="emailFocus = true"
          (focusout)="emailFocus = false"
          autofocus
          required
        />
      </div>
      <li *ngIf="formControls.email.errors?.required && isSubmitted">
        Required
      </li>
      <li *ngIf="formControls.email.errors?.email && isSubmitted">
        Invalid email address
      </li>
    </div>
    <div class="input-container">
      <div class="input-field">
        <label for="password" [ngStyle]="{ color: passwordFocus ? 'blue' : '' }"
          >Password*</label
        >
        <input
          id="password"
          type="password"
          class="input-field"
          formControlName="password"
          placeholder="Password"
          minlength="8"
          (focus)="passwordFocus = true"
          (focusout)="passwordFocus = false"
          required
        />
      </div>
      <li *ngIf="formControls.password.errors?.required && isSubmitted">
        Required
      </li>
      <li *ngIf="formControls.password.errors?.minlength && isSubmitted">
        Must be 8 characters or more
      </li>
    </div>
  </form>
  <span
    style="
      margin-bottom: 20px;
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: end;
    "
  >
    <a href="#" style="font-size: 14px">Forgot password?</a>
  </span>
  <button form="login-form" type="submit" class="login-button">Sign in</button>
  <a href="#" style="margin-top: 30px; font-weight: 600"
    >Don't have an account? Sign Up!</a
  >
</div>
