.login-page {
  display: flex;
  height: 100%;
  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eceff1;
    width: 60vw;
  }
  .right-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center space-between;
    background-color: #ffffff;
    width: 43%;

    span {
      width: 100%;
      height: 104px;
      margin-bottom: 50px;
      display: flex;
      justify-content: flex-end;
    }
    .login-box {
      width: 400px;
    }
  }
}
